html, body {
	margin: 0;
	padding: 0;
	position: relative;
}

body {
	color: #000;
	margin: 0.25in 0.5in;
	padding: 8px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

h1 {
	margin: 0;
	padding: 0;
}

hr {
	border-top: solid 4px #000 !important;
	margin: 4px;
}

a{
	text-decoration: none;
	color: #000;
}

h3.primary-heading {
	font-size: 16px;
	font-weight: 400;
	margin: 5px 0px;
}

h4.secondary-heading {
	font-size: 14px;
	font-weight: 600;
	margin: 5px 0px;
}

.icon-row{
	display: flex;
	justify-content: space-between;
}

.icon-row > span{
	font-size: 12px;
	padding-right: 20px;        
}

.point-text {
	font-size: 12px;
}

.dotted-separator {
	border:none;
	border-top: 1px dashed #888;
	margin: 10px 0px;
}

i {
	margin-right: 3px;
}

ul {
	padding-left: 0;
	margin: 5px 0px;
	list-style-type: none;
}
