:root {
  --virtual-paper-width: 8.5in;

  --margins-x: 0.25in;
  --margins-y: var(--margins-x);
}

html,
body {
  margin: 0;
  padding: 0;
  position: relative;
}

body {
  box-sizing: border-box;
  padding: var(--margins-y) var(--margins-x);

  color: #000;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

@media screen {
  body {
    margin: auto;
    max-width: calc(var(--virtual-paper-width));
  }
}

h1 {
  margin: 0;
  padding: 0;
}

hr {
  border-top: solid 2px #000 !important;
  
  margin: 0;
  margin-bottom: 8px;
}

a {
  text-decoration: none;
  color: #000;
}

.icon-row {
  display: flex;
  gap: 24px;

  justify-content: space-between;
}

.icon-row > span {
  font-size: 12px;
}

i.fa {
  margin-right: 3px;
}

ul {
  padding-left: 0;
  margin: 0px;
  list-style-type: none;
}
